@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

:root {
  --bg: #ffffff;
  --fg: #000000;
  --sbg: #dedede;
  --accent: #8ee0e0;
  --font-family: "Comfortaa";
  --max_slides: 10;
  --slide-rows: 3;
  --slide-row-width: 12vh;
  --slide-cols: 2;
  --slide-col-height: 8vh;
  --slide-gap: 1vw;
  --slide-padding: 1vw;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family), sans-serif;
  transition: 0.1s linear;
}

body,
html {
  background-color: var(--bg);
  height: 100vh;
  display: grid;
  margin: 0;
}
main {
  margin: auto;
  text-align: center;
}
.time {
  font-size: 16vh;
  font-weight: bold;
  color: var(--fg);
}
.date {
  font-size: 7vh;
  padding-bottom: 3vh;
  color: var(--fg);
}

.card {
  background-color: var(--sbg);
  /* box-shadow: 0 5px 7px rgba(0, 0, 0, 0.35); */
  /* border: 1px solid black; */
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1vw;
}
.card:hover {
  background-color: var(--accent);
  transform: translateY(-0.2rem);
  /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.35); */
}

.title {
  font-size: 3vh;
  font-weight: bold;
}

.links {
  width: min-content;
  height: calc(
    var(--slide-cols) * var(--slide-col-height) + var(--slide-gap) *
      (var(--slide-cols) - 1) + var(--slide-padding) * 2
  );
  overflow: hidden;
  margin: 0 auto;
}

.slides {
  width: min-content;
  height: calc(
    var(--max_slides) *
      (
        var(--slide-cols) * var(--slide-col-height) + var(--slide-gap) *
          (var(--slide-cols) - 1) + var(--slide-padding) * 2
      )
  );
  transition: 0.3s ease-in-out;
}

.slide {
  display: grid;
  grid-template-columns: repeat(var(--slide-rows), var(--slide-row-width));
  grid-template-rows: repeat(var(--slide-cols), var(--slide-col-height));
  gap: var(--slide-gap);
  padding: var(--slide-padding);
}

.card_icon {
  width: 3vh;
  height: 3vh;
  color: var(--fg);
}

.card_text {
  padding: 0px;
  text-decoration: none;
  font-size: 3vh;
  color: var(--fg);
}

.prev,
.next {
  font-size: 4vh;
  color: var(--sbg);
}

.prev:hover,
.next:hover {
  color: var(--fg);
}

.search_bar {
  width: 40vh;
  padding: 0.5vw;
  margin: 0.5vw;
  font-size: 2vh;
  border-style: none;
  outline: none;
  background-color: var(--bg);
  color: var(--fg);
  border-bottom: 2px solid var(--sbg);
}
.search_bar:focus {
  border-bottom: 2px solid var(--accent);
}
