:root {
  --bg: #ffffff;
  --fg: #000000;
  --accent: #57e1d9;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", sans-serif;
  transition: 0.1s linear;
}

body,
html {
  background-color: white;
  height: 100vh;
  display: grid;
  margin: 0;
}
main {
  margin: auto;
  text-align: center;
  font-family: Comfortaa;
}
.time {
  font-size: 16vh;
  font-weight: bold;
}
.date {
  font-size: 7vh;
  padding-bottom: 3vh;
}

.card {
  background-color: #dedede;
  /* box-shadow: 0 5px 7px rgba(0, 0, 0, 0.35); */
  /* border: 1px solid black; */
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1vw;
}
.card:hover {
  background-color: var(--accent);
  transform: translateY(-0.2rem);
  /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.35); */
}

.slide {
  /* grid-row: 3 / span 2;
  grid-column: 1 / span 2; */
  display: grid;
  grid-template-columns: repeat(3, 12vh);
  grid-template-rows: repeat(2, 8vh);
  gap: 1vw;
  padding: 1vw;
}

.card_icon {
  width: 3vh;
  height: 3vh;
  color: var(--fg);
}

.card_text {
  padding: 0px;
  text-decoration: none;
  font-family: "Comfortaa", sans-serif;
  font-size: 3vh;
  color: var(--fg);
}

.search_bar {
  width: 40vh;
  padding: 0.5vw;
  margin: 0.5vw;
  font-size: 2vh;
  border-style: none;
  outline: none;
  border-bottom: 2px solid #dedede;
}
.search_bar:focus {
  border-bottom: 2px solid black;
}
